/**
	CSS parallax

**/

.este {
	/**
	background: url(../images/fondo.jpeg) !important;
	background-repeat: repeat;
	background-attachment: fixed; 
	height: 5000px;
	**/
	background-color: #ffffff; 
	
}

#primera-roja {
	border: 100px;
}

#imagen-principal {
	border : 100px solid;
	
}

.breadcrumb li a span {
	color: #999999;
}