body {
	background-image: url('../images/login/background.jpeg') !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: auto;
	width: auto;
}

body .container {
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
	width: 40%;
	background-color: #a80e16;
	opacity: 0.8;
}

.container .row p {
	color: #ffffff;
	position: relative;
	text-align: center;
}

.container .row p:nth-child(1) {
	font-size: 2vw;	
	top: 3vw;
} 

.container .row p:nth-child(2) {
	font-size: 1.5vw;
	top: 4vw;
}

.container .formLogin {
	position: relative;
	top: 30%;
	left: 15%;
	height: 30%;
	width: 80%;

}

.container .formLogin .row {
	position: relative;
	padding-top: 5%;	
}

.container .formLogin .row .linea {
	display: inline-block;
	position: relative;
}

.formLogin .row img {
	border-radius: 100% 100% 100% 100%;
	width: 10%;
	padding-right: 0%;
}

.container .formLogin .row .campo {
	top: 0%;
	left: 0%;
	width: 80%;
	border-radius: 0% 1vw 1vw 0%;
	padding-left: 0%;
}



.container .formLogin .row .ini {
	background-color: #f39639;
	color: #ffffff;
	position: relative;
	left: 30%;
	width: 20%;
	border-radius: 1vw 1vw 1vw 1vw;
	font-size: 1vw;
}

.container .row ul {
	position: relative;
	top: 35vh;
	left: 2.5vw;
	width: 34vw;
}

.container .row ul li{
	display: inline-block;	
	width: 10vw;
	padding-right: 1vw;
	text-align: center;	
	line-height: 2vh;
	font-size: 1.8vh;
}

.container .row ul li a {
	color: #ffffff;
	
	
}

@media only screen and (max-width: 765px){
	body .container {
		position: absolute;
		top: 0%;
		right: 0%;
		height: 100%;
		width: 100%;
		background-color: #a80e16;
		opacity: 0.5;
	}
}