body {
	background-image: url('../images/login/background.jpeg') !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: auto;
	width: auto;
}

body .container {
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
	width: 40%;
	background-color: #ffffff;
	opacity: 0.8;
}

@media only screen and (max-width: 450px){
	body .container {
		position: absolute;
		top: 0%;
		right: 0%;
		height: 100%;
		width: 100%;
		background-color: #ffffff;
		opacity: 0.5;
	}
}