body {
	background-image: url('../images/registrarse/registro.jpg') !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: auto;
	width: auto;
}

body .container{
	padding: 0 0px !important;	
	width: 65vw !important;
	height: 90% !important;
	position: absolute;
	top: 5%;
	left: 17%;
	background-color: rgba(150, 151, 156, 0.8);
	z-index: 0;
}

.container .encabezado {
	position: absolute;
	top: 0%;	
	width: 100%;
	opacity: 2;
}

.container .encabezado img {
	width: 100%;
}

.container .encabezado p {
	position: relative;
	top: 10%;
	left: 10%;
	font-size: 5vh;
}