/* 
    Document   : jevcustom
    Created on : 22-Apr-2013, 14:12:51
    Author     : Tony Partridge - GWE Systems Ltd
    Description: To allow customisation of CSS Strings where they can never be lost.
    Purpose of the stylesheet follows.
*/
.mod_events_latest_first {
    padding-left: 130px!important;
}
.mod_events_latest {
    padding-left: 130px!important;
}

